services:

  redis:
    image: redis:latest
    restart: always
    container_name: redis
    ports:
      - "6379:6379"
    healthcheck:
      test: ["CMD-SHELL", "redis-cli ping | grep PONG"]
      interval: 10s
      timeout: 10s
      retries: 5


  mysql:
    container_name: mysql
    image: mysql:8
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: mood_tracker
    ports:
      - "3307:3306"
    healthcheck:
      test: mysql --host=mysql --user="root" --password="${MYSQL_ROOT_PASSWORD}" --silent --execute "USE mood_tracker;"
      interval: 10s
      timeout: 10s
      retries: 10
    volumes:
      - mysql:/var/lib/mysql

  app:
    container_name: app
    build:
      context: .
    environment:
      GIPHY_API_KEY: ${GIPHY_API_KEY}
      SECRET_KEY: ${SECRET_KEY}
      GOOGLE_CLIENT_SECRET: ${GOOGLE_CLIENT_SECRET}
      GOOGLE_CLIENT_ID: ${GOOGLE_CLIENT_ID}
      GOOGLE_CLIENT_DOMAIN: ${GOOGLE_CLIENT_DOMAIN}
      REDIS_HOST: 'redis'
      STORAGE_URI: 'redis://redis:6379/0'
      CONNECTION_STRING: ${CONNECTION_STRING_DOCKER}
      ENVIRONMENT: 'PRODUCTION'
    depends_on:
      redis:
        condition: service_healthy
      mysql:
        condition: service_healthy
    ports:
      - "8000:8000"


  nginx:
    container_name: nginx.conf
    image: nginx
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - app
    volumes:
      - ./services/nginx.conf:/etc/nginx/nginx.conf
      - ./certs/certificate.pem:/etc/ssl/certificate.pem
      - ./certs/private.pem:/etc/ssl/private.pem


volumes:
  mysql:
