version: "3.1"

services:

  redis:
    image: redis:latest
    restart: always
    container_name: redis
    ports:
      - "6379:6379"
    healthcheck:
      test: ["CMD-SHELL", "redis-cli ping | grep PONG"]
      interval: 10s
      timeout: 10s
      retries: 5


  mysql:
    container_name: mysql
    image: mysql:8
    environment:
      MYSQL_ROOT_PASSWORD:
      MYSQL_DATABASE: mood_tracker
    ports:
      - "3307:3306"
    healthcheck:
      test: mysql --host=mysql --user="root" --password="***REMOVED***" --silent --execute "USE mood_tracker;"
      interval: 10s
      timeout: 10s
      retries: 10
    volumes:
      - mysql-data:/var/lib/mysql

  flask:
    container_name: GIFeels
    build:
      context: .
    environment:
      MYSQL_HOST: mysql
      MYSQL_ROOT_PASSWORD:
      GIPHY_API_KEY:
      SECRET_KEY:
      GOOGLE_CLIENT_SECRET:
      GOOGLE_CLIENT_ID:
      GOOGLE_CLIENT_DOMAIN: accounts.google.com
      REDIS_HOST: 'redis'
      STORAGE_URI: 'redis://redis:6379/0'
      CONNECTION_STRING: 'mysql+mysqlconnector://root:' + password + '@mysql/mood_tracker'
    depends_on:
      redis:
        condition: service_healthy
      mysql:
        condition: service_healthy
    ports:
      - "443:443"
    healthcheck:
      test: curl --fail http://localhost:443/
      interval: 10s
      timeout: 10s
      retries: 3

volumes:
  mysql-data:
    driver: local