
.main-section {
  margin-top: 32px;
  width: 100%;
  background-color: #fdfaf3;
  overflow-y: auto; /* Add scrollbar if content exceeds container height */
}

.heading-container {
  text-align: center;
  margin-bottom: 50px;
}

.container2 {
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: flex-start;
    gap: 40px;
}

.left-column {
    display: flex;
    flex-direction: column;
    width: 40%;
    flex-grow: 0;
    align-items: flex-start;
    margin-left: 100px;
}


.right-column {
    display: flex;
    flex-direction: column;
    width: 50%;
    flex-grow: 0;
    align-items: flex-start;
}



.archive-body {
  width: 100%;
  overflow: hidden;
  margin: 50px auto; /* Center horizontally */
  border-radius: 16px;
  border: 1.5px solid #a77b0133;
  box-shadow: 8px 8px 8px rgba(170, 90, 10, 0.727);
  background: linear-gradient(#FFF0C6, #fcde83a6);
  transition: transform .3s; /* Animation */
  word-wrap: break-word;
  overflow: hidden;
  flex-grow: 0;
  margin-top: 0px; /* Adjust spacing */
  margin-bottom: 50px; /* Adjust spacing */
  margin-right: 800px;
}


.diary-body {
  width: 100%;
  max-width: 500px;
  overflow: hidden;
  margin: 50px auto; /* Center horizontally */
  border-radius: 16px;
  border: 1.5px solid #a77b0133;
  box-shadow: 8px 8px 8px rgba(170, 90, 10, 0.727);
  background: linear-gradient(#FFF0C6, #fcde83a6);
  transition: transform .3s; /* Animation */
  word-wrap: break-word;
  overflow: hidden;
  flex-grow: 0;
  margin-top: 0px; /* Adjust spacing */
  margin-bottom: 50px; /* Adjust spacing */
  margin-right: 800px;
}


.quote-body {
  width: 100%;
  overflow: hidden;
  margin: 50px auto; /* Center horizontally */
  border-radius: 16px;
  border: 1.5px solid #a77b0133;
  box-shadow: 8px 8px 8px rgba(170, 90, 10, 0.727);
  background: linear-gradient(#FFF0C6, #fcde83a6);
  transition: transform .3s; /* Animation */
  word-wrap: break-word;
  overflow: hidden;
  flex-grow: 0;
  margin-top: 50px; /* Adjust spacing */
  margin-bottom: 50px; /* Adjust spacing */
  margin-right: 800px;
  margin: auto; /* Center horizontally */
}



.diary-input {
  width: 100%;
  background: linear-gradient(#FFF0C6, #fcde83a6);
  outline:none;
  border: 3px solid #ff9c78;
  resize: none;
  color: #808080;
  height: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow: hidden;
}

.quote-body {
  margin-top: 5px;
}

#feeling-text,
#feeling-body {
  text-align: center;
  color:#8e6c10;
}


#delBut {
  margin-top: 50px;
  background: #ffffff;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px #7A5A01;
  cursor: pointer;
  font-size: 16px;
  color: #7A5A01;
  font-weight: 600;
}

.archive-body:hover,
.quote-body:hover,
.diary-body:hover{
  transform: scale(1.05);
}

.quote-text,
.diary-text {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 450;
  font-size: 15px;
  font-style: normal;
  color: #b48401;
  padding: 10px;
  text-align: center;
}

h3 {
  margin-top: 32px;
  color: #daa002;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 450;
  font-size: 2rem;
  font-style: normal;
  text-align: center;
  margin-top: 10px;
}

h1 {
  margin-top: 40px;
  color: #a27701;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 450;
  font-size: 2.65rem;
  font-style: normal;
}

.gif-video {
  width: 50%; /* Set the width to 50% */
  height: auto; /* Maintain aspect ratio */
  border-radius: 16px;
}

