{% extends "layout.html" %}
{% block title %} Overview {% endblock %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="../static/css/overview.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock %}
{% block main %}

<div class="parent-container">

<div class="overview">
    <p></p>
</div>

<div class="grid-container">

    <!-- Graph (Dummy)-->

    <div class="graph-container">
        <div class="bars" id="bars">
            <!-- Bars will be dynamically inserted here -->
        </div>
        <div class="bar-labels">
            <div class="bar-label">Happy</div>
            <div class="bar-label">Calm</div>
            <div class="bar-label">Sad</div>
            <div class="bar-label">Worried</div>
            <div class="bar-label">Frustrated</div>
            <div class="bar-label">Angry</div>
        </div>
    </div>



 <!-- Calendar -->
    <div class="calendar-container">
        <div class="calendar-header">
            <button id="prevMonth">❮</button>
            <h2 id="monthYear"></h2>
            <button id="nextMonth">❯</button>
        </div>
        <div class="calendar-body">
            <div class="day-names">
                <div>Sun</div>
                <div>Mon</div>
                <div>Tue</div>
                <div>Wed</div>
                <div>Thu</div>
                <div>Fri</div>
                <div>Sat</div>
            </div>
            <div class="days" id="days"></div>
        </div>
    </div>

</div>
</div>


{% endblock %}
{% block script %}

<!-- Calendar JavaScript -->
<script>

    var csrf_token = "{{ csrf_token() }}";

    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrf_token);
            }
        }
    });


</script>
<script src="../static/overview.js"></script>

{% endblock %}